@import "reset-eric";

.banner {
	position: relative;
	width: 100%;

	ul {
		list-style: none;
		width: 400%;

		li {
			display: block;
			float: left;
			width: 25%;
			min-height: 410px;
			background-size: 100% 100%;
		}
	}
}
